/* 브라우저에 적용된 기존의 css 초기화 */
* {
  padding: 0;
  margin: 0;
  border: none;
}
/* 배경이미지 및 폰트 */
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url("/src/assets/img/IMG_0283.jpg");
}
